@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

/*CSS Syntax:
selector {
    property: value;
    property: value;
}
*/

/* Type selector: (selects elements using their tag name) */
/* below selects all <p> */
p {
    font-size: 16px; /* could be 16px,(same in all browsers and equal to 1em) ?pt, 100%, 1em */
    line-height: 1.5em;
}

figcaption {
    /*font-weight: normal;
    font-size: 0.75;
    line-height: 1.5em;
    font-family: Georgia, "New Times Roman", serif;*/
    font: normal 0.75/1.5em "Elsie Swash Caps", cursive;
    color: #777;
    text-align: right;
}

/* Class Selector (applied to as many elements as you like)*/
.milk-text {   /* select elements with class="milk-text" */
    font: bold 2.6em "Elsie Swash Caps", cursive;
    color: white;
    text-shadow: 0 2px 3px #000;
}

/* ID selector (apply to one unique(id) element per page) */
#logo {   /* select elements with id="logo" */
    background: aqua;
}

/* Descendent selector */
#logo h1 {    /* selects <h1> if inside (note space between #logo and h1 at beginning of this line of code) the id="logo"*/
    font-family: "Clicker Script", cursive;
}

#logo h2 {
    font-family: "Elsie Swash Caps", cursive;
}

/* Psuedo Class Selector */
#details a:link, #details a:visited {
    color: black;
    text-decoration: none;
}

#details a:hover {
    color: black;
    text-decoration: underline;
}

#details a:active {
    color:red;
}
